@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';

#asiscontrol h1 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.ajs-message.ajs-entrance {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}

.ajs-message.ajs-exit {
    color: #31708f;
    border-color: #31708f;
}

.track-entry p {
    margin: 20px auto 5px auto;
}